<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css reset -->
    <link rel="stylesheet" href="./../styles/CSS reset/reset.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="./../styles/Bootstrap/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="./../styles/Bootstrap/bootstrap.min.css">    
    <!-- fonts -->
    <link rel="stylesheet" href="./../fonts/fontiran.css">
    <!-- main styles for CMS -->
    <link rel="stylesheet" href="./../styles/cms.css">

    <title>Filimo</title>
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="container">
            <div class="header__box">
                <div class="menu-icon">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                        <line x1="5" y1="18" x2="19" y2="18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="5" y1="13" x2="19" y2="13" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="5" y1="8" x2="19" y2="8" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="admin-profile">
                    <div class="admin-profile__photo">
                        <img src="./../img/admin.jpg" alt="admin-profile" width="40px" height="40px">
                    </div>
                    <div class="admin-profile__name">
                        <span>فاطمه شیرافکن</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <script src="./../scripts/cms.js"></script>  
</body>
</html>