<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css reset -->
    <link rel="stylesheet" href="./../styles/CSS reset/reset.css">
    <!-- fonts -->
    <link rel="stylesheet" href="./../fonts/fontiran.css">
    <!-- main styles for CMS -->
    <link rel="stylesheet" href="./../styles/cms.css">

    <title>Filimo</title>
</head>
<body>
    
    <script src="./../scripts/cms.js"></script>  
</body>
</html>