body {
	font-family: IRANSansX;
    overflow-x: hidden;
    background: #242424;
    direction: rtl;
    overflow-y: hidden;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

input:focus{
    outline: none;
    color: #fff;
}

th,td {
    text-align: center;
}

svg {
    pointer-events: none;
}

/* Header styles */
.header {
    background: #171717;
    box-shadow: 0 5px 8px -3px hsla(0, 0%, 0%, 0.2);
    height: 70px;
}

.container {
    height: 100%;
}

.header__box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.admin-profile__photo {
    border-radius: 50%;
    outline: 1px solid gray;
    margin-left: .9rem;
}

.admin-profile__photo img {
    border-radius: 50%;
    margin: 2px;
}

.admin-profile__name span {
    color: #727272;
    font-weight: 600;
    font-size: .9rem;
    user-select: none;
}

/* Search box styles */
.search-box {
    max-width: 500px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 17px;    
}

.search-box form{
    width: 100%;
    background: #242424;
    padding: 2px;
    border-radius: 17px;
}

.search-box input {
    width: 80%;
    border: none;
    caret-color: #fff;
    background: transparent;
}

.search-box button {
    background: transparent;
    border: none;
}

/* Sidenav menu  */
.navbar {
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 400;
    background: #171717;
    width: 260px;   
    border-left: 1px solid #4b4747;
}    

.navbar__box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.navbar__box__logo {
    margin-top: 1rem;
}    

.navbar__box__ul {
    margin-top: 8rem;
    padding: 0;
}    

.navbar__box__ul__items {
    margin-top: 1.1rem;
    border-radius: 7px;
    padding: 5px 15px;
    cursor: pointer;
} 

.navbar__box__ul__items span {
    color: #fff;
    text-decoration: none;
    margin-right: .26rem;
    font-weight: 500;
}    

.navbar__box__ul__items span , .navbar__box__ul__items span svg {
    transition: all 0.5s;
}    

.navbar__box__ul__items {
    transition: all 0.1s;
}    

.navbar__box__ul__items:hover.navbar__box__ul__items span svg {
    fill: #F89401;
}    

.navbar__box__ul__items:hover.navbar__box__ul__items span {
    color: #F89401;
}    

.navbar__box__ul__items:hover {
    border-right: 3px solid #F89401;
}    

.navbar__box__ul__items.active {
    border-right: 3px solid #F89401;
}

.navbar__box__ul__items.active.navbar__box__ul__items span svg {
    fill: #F89401;
}    

.navbar__box__ul__items.active.navbar__box__ul__items span {
    color: #F89401;
}  

.navbar::-webkit-scrollbar{
    width: 8px;
}

 .navbar::-webkit-scrollbar-track {
    background: #727272; 
}
   
.navbar::-webkit-scrollbar-thumb {
    background: #F89401; 
}
  
.navbar::-webkit-scrollbar-thumb:hover {
    background: #a06000; 
}

/* Main styles  */
.main {
    max-width: 1600px;
    position: absolute;
    left: 32px;
    right: 290px;
    top: 102px;
    bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171717;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.main-container {
    width: 95%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.content {
    display: none;
}
  
.content.active {
    display: flex;
}

/* Users content section styles */

.usersSearchBar {
    display: flex;
    align-items: center;
    background: #b15555;
    border-radius: 50px;
    direction: ltr;
    height: 35px;
    background: #ededed;
    margin: 0 0 20px 1px;
    width: 65%;
}

.usersSearchBar__dropdown {
    position: relative;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #F89401;
    background: #F89401;
    cursor: pointer;
}

.usersSearchBar__dropdown--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
}

.usersSearchBar__dropdown-list{
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    background: aliceblue;
    border-radius: 15px;
    max-height: 0;    
    overflow: hidden;
    transition: all 0.5s;
}

.usersSearchBar__dropdown-list.show{
    max-height: 200px;
}

.usersSearchBar__dropdown-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    padding: 10px  0px 6px 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.usersSearchBar__dropdown-list-item:hover {
    margin-left: 5px;
    color: #F89401;
}

.usersSearchBar__box {
    display: flex;
    align-items: center;
    padding-right: 15px;
    width: 100%;

}

.usersSearchBar__box input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #F89401;
    border: none;
    outline: none;
    background: transparent;
}
/* searchbar end */

.users-table {
    margin: 0;
    min-height: 206px;
}

.main-container::-webkit-scrollbar{
    width: 8px;
}

 .main-container::-webkit-scrollbar-track {
    background: #727272; 
}
   
.main-container::-webkit-scrollbar-thumb {
    background: #F89401; 
}
  
.main-container::-webkit-scrollbar-thumb:hover {
    background: #a06000; 
}

.edit-user-btn, .delete-user-btn {
    cursor: pointer;
}

/* Comments table styles */
.comments-box {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.reject-comment-btn,.accept-comment-btn {
    border: 2px solid #F89401;
    background: transparent;
    padding: 0 10px;
    outline: 0;
    border-radius: 15px;
}

/* MODALS */
.edit-users-modal.open-modal {
    transform: translate3d(0,-50%,0);
}

.delete-user-modal.open-modal{
    transform: translate3d(0,-264%,0);
}

.comments-modal.open-modal{
    transform: translate3d(0,-50%,0);
}

.modal__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 12px;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}

.modal__head__title {
    color: aliceblue;
    font-size: 1.4rem;
    user-select: none;
}

.close-modal__head__btn {
    margin-bottom: 9px;
    cursor: pointer;
}

.modal__body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
}

/* Edit user modal styles */
.edit-users-modal {
    width: 800px;
    height: 500px;
    background: #242424;
    position: relative;
    z-index: 1111;
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 10px;
    transform: translate3d(0,-210%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.modal__body__form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 70px;
}

.modal__body__form__item{
    font-size: 0.95rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}

.modal__body__form__item label {
    margin-bottom: 5px;
    margin-right: 5px;
}

.modal__body__form__item input {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 40px;
    background: #171717;
    box-shadow: none;
    color: #ededed;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.required {
    color: red;
}

.modal__body__form--submit-changes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}

.modal__body__form__item--checkbox label {
    color: #fff;
    margin-bottom: 13px;
    margin-right: 5px;
}

.modal__body__form__item--checkbox div {
    display: flex;
    align-items: center;
}

.modal__body__form__item--checkbox div span {
    color: #a1a1a1;
    font-size: 0.8rem;
    margin-right: 4px;
}

.modal__body__form--submit-changes button {
    padding: 5px 45px;
    border: none;
    border-radius: 8px;
    background: #F89401;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}

.modal__body__form--submit-changes button:hover {
    background: #a06000;
    padding: 7px 50px;
}

/* Delete users modal styles */
.delete-user-modal {
    width: 400px;
    height: 250px;
    background: #242424;
    position: relative;
    z-index: 1111;
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 10px;
    transform: translate3d(0,-450%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.delete-user-modal__conainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.delete-user-modal__conainer__content {
    margin-bottom: 20px;
}

.delete-user-modal__conainer__content span{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
}

.delete-user-modal__conainer__btns--yes {
    background: transparent;
    border: 2px solid #F89401;
    color: #F89401;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.delete-user-modal__conainer__btns--yes span {

    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #F89401;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.delete-user-modal__conainer__btns--yes:hover {
    color: #fff;
}

.delete-user-modal__conainer__btns--yes:hover span {
    transform: translateY(0) scale(2);
}

.delete-user-modal__conainer__btns--yes span:nth-child(1) {
    --n: 1;
}

.delete-user-modal__conainer__btns--yes span:nth-child(2) {
    --n: 2;
}

.delete-user-modal__conainer__btns--yes span:nth-child(3) {
    --n: 3;
}

.delete-user-modal__conainer__btns--yes span:nth-child(4) {
    --n: 4;
}

.delete-user-modal__conainer__btns--no {
    background: #F89401;
    color: #fff;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 5px;
    margin-right: 6px;
    transition: all 0.3s;
    border-left: 2px solid #F89401;
    border-right: 2px solid #F89401;
    border-bottom: none;
    border-top: none;
}

.delete-user-modal__conainer__btns--no:hover {
    background: transparent;
    color: #F89401;
    border-left: 2px solid #F89401;
    border-right: 2px solid #F89401;

}



/* Comments modal styles */
.comments-modal {
    width: 600px;
    height: auto;
    max-height: 400px;
    background: #242424;
    position: relative;
    z-index: 1111;
    overflow-y: auto;
    margin: 0 auto;
    transform: translate3d(0,-210%,0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.comments-modal__body__content {
    color: #fff;
    text-align: right;
}

/* Blure dark layer styles */
.layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    visibility: hidden;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: opacity .3s cubic-bezier(.19,1,.22,1),visibility 0s cubic-bezier(.19,1,.22,1) .3s,z-index 0s cubic-bezier(.19,1,.22,1) .3s,top 0s cubic-bezier(.19,1,.22,1) .3s;
}

.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

/* Loder style start */
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    top: 30%;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  .loader.disabel {
    display: none;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #F89401, 24px 0 #FFF;
    }
    66% {
      background: #F89401;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #F89401;
    }
  }
/* Loder style end */